* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }

  .name{
    color: white;
  }
  
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 0;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  header p {
    font-size: 1.5rem;
  }
  
  section {
    padding: 50px 0;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
  }
  .container2 {
    width: 85%;
    margin: 0 auto;
  }


  
  .contact input, .contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .contact button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 1rem;
  }
  
  .contact button:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  